railrl.egg-info/
data/
outputs/
logs/
*.pyc
*.swp
*.swo
*.DS_Store
*.mypy_cache/
*.idea
rlkit/bin/
rlkit/.idea/
*.npy
*.ipynb
*.prof

rlkit/launchers/config.py
rlkit/launchers/conf_private.py
visualization/grill/config.py
visualization/grill/config_personal.py
rlkit/demos/spacemouse/config.py
rlkit/data_management/external/bair_dataset/config.py

*.jpg
*.img
MANIFEST
*.egg-info
reset.p
gitignore/
build/
dist/
Pyro_NS_URI

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
